<h1>Your Collection of Books:</h1>
<br>
<ol>
<% @books.each do |book| %>
  	<li>
  	  <a href="/books/<%= book.slug %>"><%= book.title %></a>, 
  	  written by <%= book.author.name %>, 
  	  <% book.genres.each do |genre| %>
  	  	<%= genre.name %>
  	  <% end %>
  	  <br><br>
  	</li>
<% end %>  
</ol>
<br>
<br>
<a href='/books/new'>Create a new book</a>
<br>
<a href='/users/<%= current_user.slug %>'>Go to your account page</a>
<br>
<a href='/authors'>View books by author</a>
<br>
<a href='/genres'>View books by genre</a>
<br>
<br>
<a href="/logout">Log Out</a>
