<h1>Add a New Book to your Collection</h1>
<br>
<form action="/books" method="POST">
  <h4> Book </h4>
  <br>
  <label> Title: </label>
  <input type="text" name="book[title]" id ="title" size="85"></br>
  <br>
  <h4> Author </h4>
  <% current_user.authors.uniq.each do |author| %>
    <input type="checkbox" name="author[id]" id="<%= author.id %>" value="<%= author.id %>"><%= author.name %></input><br>
  <% end %>
  <br>
  <label>Don't see the author you're looking for? Add a new author:</label>
  <input type="text" name="[author][name]" id="Author Name"> </br>
  <br>
  <h4> Genre(s) </h4>
  <% current_user.genres.uniq.each do |genre| %>
    <input type="checkbox" name="book[genre_ids][]" id="<%= genre.id %>" value="<%= genre.id %>"><%= genre.name %></input><br>
  <% end %>
  <br>
  <label>Don't see the genre you're looking for? Add a new genre:</label>
  <input  type="text" name="genre[name]" id="genre_name"></input>
  <br>
  <br>
  <input type="submit" value="Create Book">
</form>