<h1><%= @book.title %></h1>
<br>
<ul>
	<li>
		<label>Author:</label>
		<a href="/authors/<%= @book.author.slug %>"><%= @book.author.name %></a>
	</li>
	<li>
		<label>Genre(s):</label>
		<% @book.genres.each do |genre| %>
			<a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
		<% end %>
	</li>
</ul>
<br>
<a href="/books/<%= @book.slug %>/edit">Edit "<%= @book.title %>"</a>
<br>
<a href='/books'>See your collection</a>
<br>
<br>
<form method="POST" action="/books/<%= @book.slug %>">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Book">
</form>